:root {
  /* Colors - Primary */
  --clr-primary-100: ;
  --clr-primary-200: ;
  --clr-primary-300: ;
  --clr-primary-400: ;
  --clr-primary-500: ;
  --clr-primary-600: ;
  --clr-primary-700: ;
  --clr-primary-800: ;
  --clr-primary-900: ;

  /* Colors - Accent */
  --clr-accent-1: ;
  --clr-accent-2: ;

  /* Colors - Neutral */
  --clr-neutral-100: ;
  --clr-neutral-200: ;
  --clr-neutral-300: ;
  --clr-neutral-400: ;
  --clr-neutral-500: ;
  --clr-neutral-600: ;
  --clr-neutral-700: ;
  --clr-neutral-800: ;
  --clr-neutral-900: ;

  /* Font Families */
  --ff-base: ;
  --ff-accent: ;

  /* Font Sizes */
  --fs-xs: calc(12 / 16 * 1rem);
  --fs-sm: calc(14 / 16 * 1rem);
  --fs-base: calc(16 / 16 * 1rem);
  --fs-md: calc(18 / 16 * 1rem);
  --fs-lg: calc(20 / 16 * 1rem);
  --fs-xl: calc(24 / 16 * 1rem);
  --fs-2xl: calc(32 / 16 * 1rem);
  --fs-3xl: calc(48 / 16 * 1rem);
  --fs-4xl: calc(64 / 16 * 1rem);

  /* Font Weights */
  --fw-light: ;
  --fw-regular: ;
  --fw-medium: ;
  --fw-bold: ;
  --fw-black: ;

  /* Margin / Padding Spaces */
  --space-3xs: ;
  --space-2xs: ;
  --space-xs: ;
  --space-sm: ;
  --space-md: ;
  --space-lg: ;
  --space-xl: ;
  --space-2xl: ;
  --space-3xl: ;

  /* Space One-Step-Up pairs */
  --space-3xs-2xs: ;
  --space-2xs-xs: ;
  --space-xs-sm: ;
  --space-sm-md: ;
  --space-md-lg: ;
  --space-lg-xl: ;
  --space-xl-2xl: ;
  --space-2xl-3xl: ;
}

/* ******** RESET ******** */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure,
blockquote {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture {
  max-inline-size: 100%;
  display: block;
}

/* ******** GENERAL STYLES ******** */
body {
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);

  background-color: hsl(300, 100%, 20%);
  color: hsl(0 0% 100%);
  padding: 1rem;
  font-size: 1.25rem;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

/* ******** COMPOSITION / LAYOUT ******** */
.wrapper {
  max-inline-size: 70em;
  margin-inline: auto;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1rem);
}

.flex-flow {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid-flow {
  --column-count: 1;
  --column-size: 1fr;
  --column-template: repeat(var(--column-count, 1), var(--column-size, 1fr));

  display: grid;
  gap: var(--gap, 1rem);
  grid-template-columns: var(--column-template);
}

.grid-auto {
  --min-col-size: 200px;
  --item-placement: auto-fit;
  display: grid;
  gap: var(--gap, 1rem);
  grid-template-columns: repeat(var(--item-placement), minmax(min(var(--min-col-size), 100%), 1fr));
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.place-center {
  align-items: center;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

/* ******** UTILITIES ******** */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}

.hidden {
  display: none;
}

.weather-icon {
  max-width: 60px;
  object-fit: cover;
}

.weather-icon-lg {
  max-width: 120px;
}

/* ******** COMPONENTS ******** */

/* ******** BLOCK STYLE ******** */

/* ******** EXCEPTIONS ******** */
